*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}
body{
    height: auto;
    min-width: 768px;
    max-width:100%;
    font-family: 'gilroymedium';
    font-size: 18px;
}

a{
    color: #000;
}
a:active{
    color: #000;
}
body,
.body{
overflow-x:hidden !important;
}
.body{
overflow-y:hidden !important;
}
.backgraund__image{
    width:100%;
    z-index: -1;
    position: absolute;
    top: 0;
    background-size: cover;
}
@media only screen and (max-width:1440px){
.backgraund__image{
    height:auto;   
    width:1440px;
    min-width:1024px ;
    overflow:hidden; 
    background-size: cover;
}}

@media only screen and (max-width:1024px){
.backgraund__image{
    height:auto;   
    width:1024px;
    min-width:768px ;
    overflow:hidden; 
    background-size:contain;
}} 
.backgraund__two{
    display: flex;
    flex-direction: column;
    align-items: center
    
}
.backgraund__image-two{
    z-index: -1;
    min-width: 100%;
    position:relative;
    flex-shrink: 0;
}
.navbar{
    width: 1165px;
    height: 156px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.navbar__logo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:space-around;
    width: 400px;
    flex-shrink: 0;
    height: 156px;
    align-items: center;
    font-size: 18px;
}
.navbar__line{
    height: 37px;
    width: 1px;
    background: #f7cd4b;
}
.navbar__navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    width: 600px;
}
.navbar__navigation__mobil [type="checkbox"]{
     display: none;
}
.navbar__menu{
    width: 600px;
    height: 64px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}
.navbar__menu .navbar__items{
    text-transform: uppercase;
    border-bottom:4px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.navbar__menu .navbar__items:hover{
    top: 11px;
    position: relative;
    border-bottom: 4px solid #aae64e;
    transition: border-bottom 0.31s ease-out;
    padding-bottom: 22px;
}
.navbar__items__active{
    border-bottom: 4px solid #aae64e;
    top: 11px;
    position: relative;
    border-bottom: 4px solid #aae64e;
    padding-bottom: 22px;
}
.navbar__menu-line{
    width: 1px;
    height: 14px;
    background: rgb(205, 205, 205);
}
.navbar__contact{
    width: 600px;
    height: 64px;
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center
}
.navbar__contact .navbar__p{
    float: right;
    margin-top: 7px;
}
.navbar__contact .navbar__a{
    border-bottom: 1px solid #000;
    font-family: gilroybold
}
.wraper{
    width: 1165px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.wraper__country{
    display: flex;
    flex-direction: column;
    width: 570px;
}
.wraper__country .wraper__h1{
    font-size: 33px;
    margin-bottom: 35px;
    font-family:'gilroybold';
    width: 570px;
}
.wraper__h1__orang{
    color: #fdb042
}
.wraper__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:25px;
}
.wraper__items .wraper__rubric{
    width:440px; 
    float: right;
    font-size: 18px;
   
}
.wraper__img__hidden{
    display: block;
    width:50px; 
    height: 50px;
    overflow: hidden;
}
.wraper__img1{
    position: relative;
    bottom: 65px;
}
.wraper__img2{
    position: relative;
    bottom: 135px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 465px;
    height: 80px;
    border-radius:50px ;
    background: #fdb042;
    border: 0px;
    background-color: #fdb044;
    box-shadow: 0px 24px 76px 0px rgba(0, 0, 0, 0.18);
}
.button:hover{
    background: #FEC471;
    
}
.wraperhause__button{
    width: 470px;
    position:relative;
    text-align: center;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2
} 
.button__two{
    margin-bottom: 15px;
    margin-top: 15px;
}
.wraperhause__test__button{
    width: 400px;
}
.button__three{
    width: 400px;
    margin-bottom: 15px;
}
.button:active{
    background: #9ce926;
}
.button:focus{
    outline: none;
}
.button__circle{
    width: 50px;
    background: #fff;
    height: 50px;
    position: relative;
    left: 20px;
    border-radius: 50px;
}
.button__icon{
    position: relative;
    top: 5px
}
.button__20min{
    position: relative;
    left: 40px;
    font-size: 18px;
}

.button__three .button__20min{
    left: 45px;
    font-size:18px;
}

.wraper__country .plus{
    margin-left:30px;
    margin-top: 20px;
}
.wraper__hausimg{
    width: 1110px;
    height: 700px;
    position: relative;
    padding-bottom:80px;
    flex-shrink: 3
}
.hausimg__cover{

    z-index: -1;
    background-size:cover;
}

@media only screen and (max-width:2250px){
.wraper__hausimg{
    right: 40px;
    width:98%;
    height: 700px;
}
.hausimg__cover{
    height: 750px;
}}
@media only screen and (max-width:2045px){
.wraper__hausimg{
    right: 90px;
    width:85%;
    height: 700px; 
}
.hausimg__cover{
    height:740px;
}}
@media only screen and (max-width:1920px){
.hausimg__cover{
    height:700px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1880px){
.hausimg__cover{
    height:690px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1830px){
.hausimg__cover{
    height:670px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1780px){
.hausimg__cover{
    height:650px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1660px){
.hausimg__cover{
    height:630px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1603px){
.hausimg__cover{
    height:600px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1518px){
.hausimg__cover{
    height:580px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1460px){
.hausimg__cover{
    height:560px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1440px){
.hausimg__cover{
    height:490px;
    margin-bottom:165px ;
}}
@media only screen and (max-width:1552px){
.heusehome2{
    position: absolute;
    top:10px ;
}}
.wraperhause{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 300px
}
.wraperhause__test{
    display: flex;
    position:relative;
    flex-direction:row;
    align-items: center;
    width: 1165px;
    margin-left: auto;
    margin-right: auto;
    max-height: 50px;
    
}
h3{
    font-size: 20px;
    font-family: 'gilroybold'
}
.wraperhause__sheath{
    width:800px; 
    min-height:100px;
    max-height: 700px;
    margin-bottom: 100px
}
.heusehome2{
    position:relative;
    top: 180px
}
.mnogoygols{
    position:absolute;
    width:100%;
    z-index:1;
    top:1380px;
}

.mnogoygols__img .mnogoygols__mnogoygol{
    width: 76px;
    max-height:76;
}
.mnogoygols__list-one mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-one.png) no-repeat;
    z-index:-1;
    width: 114px;
    height: 113px;
    position: absolute;
    right: 50px;
    bottom:60px
}
.mnogoygols__items,
.mnogoygols__list{
    position:relative;

}
.mnogoygols__list-one{
    bottom: 130px;
    width: 300px;
    right: 180px
}
.mnogoygols__list-one .mnogoygols__img{
    position: absolute;
    position: absolute;
    left: 360px;
    bottom: -90px;
}
.mnogoygols__list-one .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-one.png) no-repeat;
    z-index:-1;
    width: 114px;
    height: 113px;
    position: absolute;
    right: 50px;
    bottom:60px
}
.mnogoygols__list-two{
    width: 240px;
    bottom: 30px;
    right: 180px
}
.mnogoygols__list-two .mnogoygols__img{
    position: absolute;
    left: 462px;
    bottom: 125px;
}
.mnogoygols__list-two .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-two.png) no-repeat;
    z-index:-1;
    width: 248px;
    height:54px;
    position: absolute;
    right: 50px;
    bottom:-10px;
}
.mnogoygols__list-three{
    width: 240px; 
    bottom: 0px;
    right: 100px
}
.mnogoygols__list-three .mnogoygols__img{
    position: absolute;
    left: 390px;
    bottom: 240px;
}
.mnogoygols__list-three .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-three.png) no-repeat;
    z-index:-1;
    width:225px;
    height:140px;
    position: absolute;
    right: 50px;
    top:30px
}
.mnogoygols__list-four{
     bottom:60px;
    left: 210px
}
.mnogoygols__list-four .mnogoygols__img{
    position: relative;
    left: 150px;
    bottom: 260px;
}
.mnogoygols__list-four .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-four.png) no-repeat;
    z-index:-1;
    width:12px;
    height:112px;
    position: absolute;
    left: 33px;
    top:60px
}
.mnogoygols__list-five{
    bottom: 830px;
    left:600px ;
}
.mnogoygols__list-five .mnogoygols__img{
    z-index: 10;
    position: relative;
    right: 150px;
    top: 120px;
}
.mnogoygols__list-five .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-five.png) no-repeat;
    z-index:-1;
    width:90px;
    height:177px;
    position: absolute;
    left: 40px;
    bottom:60px
}
.mnogoygols__list-six{
    bottom:860px;
    left:780px ;
}
.mnogoygols__list-six .mnogoygols__img{
    position: relative;
    right: 350px;
    bottom:45px;
}
.mnogoygols__list-six .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-six.png) no-repeat;
    z-index:-1;
    width:317px;
    height:260px;
    position: absolute;
    left: 20px;
    bottom:25px
}
.mnogoygols__list-seven{
    bottom:870px;
    left:780px ;
}
.mnogoygols__list-seven .mnogoygols__img{
    position: relative;
    right:275px ;
    bottom: 130px;
}
.mnogoygols__list-seven .mnogoygols__img .mnogoygols__line{
    background: url(images/icons/line-seven.png) no-repeat;
    z-index:-1;
    width:255px;
    height:65px;
    position: absolute;
    left: 15px;
    bottom:50px
}

.mnogoygols__img .mnogoygols__green{
    z-index: 2;
    position: absolute;
    bottom:24px;
    left: 17px
}
.mnogoygols__img .mnogoygols__orang{
    z-index: 1;
    position:absolute;
    bottom:24px;
    left: 17px
}
.mnogoygols__img .mnogoygols__loupe{
    z-index: 3;
    position:absolute;
    bottom:37px;
    left: 27px;
}
.mnogoygols__mnogoygol:hover .mnogoygols__green{
    display: none
}

.mnogoygols__items-roof{
    display: flex;
    flex-direction: column;
}
.mnogoygols__items-roof .mnogoygols__logo{
    max-width:200px;
}
.mnogoygols__items-roof .mnogoygols__p{
    width: 240px
}
.mnogoygols__items-roof span{
    font-family: 'gilroybold';
    color: #fcbd67;
}
.mnogoygols__items-keeping{
    display: flex;
    flex-direction: column;
}
.mnogoygols__items-keeping>.keeping{
    display: flex;
    flex-direction: row;
}
.keeping .keeping__logo-p{
    padding-top: 5px
}
.keeping .keeping__logo-p2{
    padding-top: 9px;
}
.mnogoygols__items-window .mnogoygols__logo,
.mnogoygols__items-keeping .mnogoygols__logo{
    width: 120px
}
.mnogoygols__items-keeping .mnogoygols__p{
    width: 230px
}
.mnogoygols__items-window{
    width: 240px; 
    display: flex;
    flex-direction: column
}
.mnogoygols__items-window .mnogoygols__p{
    width: 200px;
}
.mnogoygols__items-membrane{
    width:410px;
    display: flex;
    flex-direction:row;
}
.mnogoygols__items-membrane .mnogoygols__logo{
    width: 136px;
}
.mnogoygols__items-lumber{
    width: 400px;
    display: flex;
    flex-direction:row;
}
.mnogoygols__items-lumber .mnogoygols__logo{
    width: 110px;
}
.mnogoygols__items-insulation{
    width: 210px;
    display: flex;
    flex-direction:column;
}
.mnogoygols__items-foundation .mnogoygols__logo,
.mnogoygols__items-insulation .mnogoygols__logo{
    width:150px;
}
.mnogoygols__items-foundation{
    width: 230px;
    display: flex;
    flex-direction:column;
}
.wrapertest__white{
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
    bottom:390px;
    width:520px;
    background: #fff;
    height: 570px;
}
.wraperhause__two{
    position: relative;
    width:639px ;
    left: 140px;
    bottom: 320px;
}
.wraperhause__two img:nth-child(2){
    position: absolute;
    bottom: -0px;
    z-index: -1
    
}
.wrapertest__white__flex{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

}
.wrapertest__line__grin{
    width: 60px;
    height: 8px;
    margin-right: auto;
    background: #9ce926;
}
.wrapertest__white__flex .wrapertest__h1{
    font-family: 'gilroyextrabold';
    font-size: 35px;
}
.wrapertest__white .wrapertest__p{
    font-size: 20px;
}
.wrapertest__white .plus__p{
    text-align: center;
    color: #fdac3f;
    font-size: 18px
        
}

