*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}
body{
    min-width: 1165px;
    max-width: 2560px;
    font-family: 'gilroymedium';
    font-size: 14px;
}
a{
    color: #000;
}
a:active{
    color: #000ж
}
body,
.body{
overflow-x:hidden !important;
}
.backgraund img{
    width:100% ;

    z-index: -1;
    position: absolute;
    top: 0
}
.navbar{
    max-width: 1165px;
    height: 156px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.navbar__logo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:space-around;
    width: 400px;
    height: 156px;
    align-items: center;
    font-size: 18px;
}
.navbar__logo .line{
    height: 37px;
    width: 1px;
    background: #f7cd4b;
}
.navbar__navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    width: 600px;
}
.navbar__navigation__menu{
    width: 600px;
    height: 64px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}
.navbar__navigation__menu li{
    text-transform: uppercase;
    border-bottom:4px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.navbar__navigation__menu li:hover{
    top: 11px;
    position: relative;
    border-bottom: 4px solid #aae64e;
    transition: border-bottom 0.31s ease-out;
    padding-bottom: 22px;
   
}
.navbar__navigation__menu .line{
    width: 1px;
    height: 14px;
    background: rgb(205, 205, 205);
}
.navbar__navigation__contact{
    width: 600px;
    height: 64px;
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center
}
.navbar__navigation__contact li p{
    float: right;
    margin-top: 7px;
}
.navbar__navigation__contact li a{
    border-bottom: 1px solid #000;
    font-family: gilroybold
}
.wraper{
    width: 1165px;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom:100px ;
    margin-left: auto;
    margin-right: auto;
}
.wraper__country{
    display: flex;
    flex-direction: column;
    width: 570px;
}
.wraper__country h1{
    font-size: 33px;
    margin-bottom: 35px;
    font-family:'gilroybold';
    width: 570px;
}
.wraper__country h1 span{
    color: #fdb042
}
.wraper__country__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:25px;
}
.wraper__country__items p{
    width:440px; 
    float: right;
    font-size: 18px;
   
}
.wraper__country__items div{
    display: block;
    width:50px; 
    height: 50px;
    overflow: hidden;
}
.wraper__country__img1 img{
    position: relative;
    bottom: 65px;
}
.wraper__country__img2 img{
    position: relative;
    bottom: 135px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 465px;
    height: 80px;
    border-radius:50px ;
    background: #fdb042;
    border: 0px;
    background-color: rgb(253, 176, 66);
    box-shadow: 0px 24px 76px 0px rgba(0, 0, 0, 0.18);
}
.button:active{
    
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.18);
}
.button:focus{
    outline: none;

}
.button div{
    width: 50px;
    background: #fff;
    height: 50px;
    position: relative;
    left: 20px;
    border-radius: 50px;
}
.button img{
    position: relative;
    top: 5px
}
.button p{
    position: relative;
    left: 40px;
    font-size: 18px;
}
.hausimg{
    position: relative;
    width:100% ;
    height:auto;
    bottom: 50px;
    right:150px ;
    z-index: -1;
    flex-grow: 2;
}

