*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}
body{
    height: auto;
    min-width: 768px;
    max-width: 2560px;
    font-family: 'gilroymedium';
    font-size: 18px;
}

a{
    color: #000;
}
a:active{
    color: #000;
}
body,
.body{
overflow-x:hidden !important;
}
.body{
overflow-x:hidden !important;
}
.backgraund img{
    width:100%;
    z-index: -1;
    position: absolute;
    top: 0;
    background-size: cover;
}
@media only screen and (max-width:1440px){
.backgraund img{
    height:auto;   
    width:1440px;
    min-width:1024px ;
    overflow:hidden; 
    background-size: cover;
}}

@media only screen and (max-width:1024px){
.backgraund img{
    height:auto;   
    width:1024px;
    min-width:768px ;
    overflow:hidden; 
    background-size:contain;
}}
.navbar{
    max-width: 1165px;
    height: 156px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.navbar__logo{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:space-around;
    width: 400px;
    height: 156px;
    align-items: center;
    font-size: 18px;
}
.navbar__logo .line{
    height: 37px;
    width: 1px;
    background: #f7cd4b;
}
.navbar__navigation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start
    width: 600px;
}
.navbar__navigation__mobil [type="checkbox"]{
     display: none;
}
.navbar__navigation__menu{
    width: 600px;
    height: 64px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}
.navbar__navigation__menu li{
    text-transform: uppercase;
    border-bottom:4px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.navbar__navigation__menu li:hover{
    top: 11px;
    position: relative;
    border-bottom: 4px solid #aae64e;
    transition: border-bottom 0.31s ease-out;
    padding-bottom: 22px;
   
}
.navbar__navigation__menu .line{
    width: 1px;
    height: 14px;
    background: rgb(205, 205, 205);
}
.navbar__navigation__contact{
    width: 600px;
    height: 64px;
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center
}
.navbar__navigation__contact li p{
    float: right;
    margin-top: 7px;
}
.navbar__navigation__contact li a{
    border-bottom: 1px solid #000;
    font-family: gilroybold
}
.wraper{
    width: 1165px;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom:100px ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
.wraper__country{
    display: flex;
    flex-direction: column;
    width: 570px;
}
.wraper__country h1{
    font-size: 33px;
    margin-bottom: 35px;
    font-family:'gilroybold';
    width: 570px;
}
.wraper__country h1 span{
    color: #fdb042
}
.wraper__country__items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:25px;
}
.wraper__country__items p{
    width:440px; 
    float: right;
    font-size: 18px;
   
}
.wraper__country__items div{
    display: block;
    width:50px; 
    height: 50px;
    overflow: hidden;
}
.wraper__country__img1 img{
    position: relative;
    bottom: 65px;
}
.wraper__country__img2 img{
    position: relative;
    bottom: 135px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 465px;
    height: 80px;
    border-radius:50px ;
    background: #fdb042;
    border: 0px;
    background-color: #fdb044;
    box-shadow: 0px 24px 76px 0px rgba(0, 0, 0, 0.18);
}
.button:active{
    
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.18);
}
.button:focus{
    outline: none;

}
.button div{
    width: 50px;
    background: #fff;
    height: 50px;
    position: relative;
    left: 20px;
    border-radius: 50px;
}
.button img{
    position: relative;
    top: 5px
}
.button p{
    position: relative;
    left: 40px;
    font-size: 18px;
}
.wraper__country .plus{
    margin-left:30px;
    margin-top: 20px;
}
.hausimg{
    position: relative;
    right:140px ;
    bottom: 50px;
    max-width: 100%;
    z-index: -1;
    background-size:content;
}
@media only screen and (max-width:2000px){
.hausimg{
    position: relative;
    right:70px ;
    bottom: 50px;
    max-width:80%;
    height:624px ;
    z-index: -1;
    background-size:content;

}}
@media only screen and (max-width:1724px){
.hausimg{
    position: relative;
    right:60px ;
    bottom: 50px;
    height:546px;
    max-width:70%;
    z-index: -1;
    background-size:contain;

}}
@media only screen and (max-width:1420px){
.hausimg{
    position: relative;
    right:50px ;
    bottom: 0px;
    max-width:60%;
    height:468px;
    z-index: -1;
}}
.wraperhuse{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 1165px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 20px;
    font-family: 'gilroybold'
}
.wraperhuse__sheath{
    width:800px; 
    margin-left: auto;
    margin-right: auto;
    min-height:100px;
    max-height: 700px
}
.mnogoygols{
    position:absolute;
    width:100%;
    z-index: 1;
    top: 1170px;
    height:700px
}
.mnogoygol{
    z-index: 1;
    width: 76px;
    max-height:76;
}
.wraperhuse__stuff__items,
.wraperhuse__stuff__list{
    position:relative;

}
.list_one{
    bottom: 130px;
    width: 300px;
    right: 180px
}
.list_one .mnogoygol{
    position: absolute;
    left: 360px;
    bottom: -90px;
}
.list_two{
    width: 240px;
    bottom: 30px;
    right: 180px
}
.list_two .mnogoygol{
    position: absolute;
    left: 462px;
    bottom: 125px;
}
.list_three{
    width: 240px; 
    bottom: 0px;
    right: 100px
}
.list_three .mnogoygol{
    position: absolute;
    left: 390px;
    bottom: 240px;
}
.list_four{
     bottom:60px;
    left: 210px
}
.list_four .mnogoygol{
    position: relative;
    left: 150px;
    bottom: 260px;
}
.list_five{
    bottom: 830px;
    left:600px ;
}
.list_five .mnogoygol{
    position: relative;
    right: 150px;
    top: 120px;
}
.list_six{
    bottom:860px;
    left:780px ;
}
.list_six .mnogoygol{
    position: relative;
    right: 350px;
    bottom:45px;
}
.list_seven{
    bottom:870px;
    left:780px ;
}
.list_seven .mnogoygol{
    position: relative;
    right:275px ;
    bottom: 130px;
}
.mnogoygol:nth-child(2){
    
}
.mnogoygol:nth-child(3){
    
}
.mnogoygol:nth-child(4){
    
}
.mnogoygol:nth-child(5){
    
}
.mnogoygol:nth-child(6){
    
}
.mnogoygol:nth-child(7){

}
.mnogoygol img:nth-child(1){
    z-index: 1;
    
}
.mnogoygol img:nth-child(2){
    z-index: 2;
    position: absolute;
    bottom:24px;
    left: 17px
}
.mnogoygol img:nth-child(3){
    z-index: 1;
    position:absolute;
    bottom:24px;
    left: 17px
}
.mnogoygol img:nth-child(4){
    z-index: 3;
    position:absolute;
    bottom:37px;
    left: 27px;
    
}
.mnogoygol:hover img:nth-child(2){
    display: none
}
.mnogoygol:hover img:nth-child(3){
    z-index: 1;
    position:absolute;
    bottom:px;
    left: 17px
}
.mnogoygol:hover img:nth-child(4){
    z-index: 3;
    position:absolute;

    right: 19px;
}
.wraperhuse__button{
    display: none;//не забыть поставить 
    width: 470px;
    position:relative;
    top: 0px;
    text-align: center;
}
.wraperhuse__button .plus{
    color: #fdb044
}
.roof{
    display: flex;
    flex-direction: column;
}
.roof img{
    max-width:200px;
}
.roof p{
    width: 240px
}
.roof span{
    font-family: 'gilroybold';
    color: #fcbd67;
}
.keeping{
    display: flex;
    flex-direction: column;
}
.window img,
.keeping img{
    width: 120px
}
.keeping p{
    width: 230px
}
.window{
    width: 240px; 
    display: flex;
    flex-direction: column
}
.window p{
    width: 200px;
}
.membrane{
    width:410px;
    display: flex;
    flex-direction:row;
}
.membrane img{
    width: 136px;
}
.lumber{
    width: 400px;
    display: flex;
    flex-direction:row;
}
.lumber img{
    width: 110px;
}
.insulation{
    width: 210px;
    display: flex;
    flex-direction:column;
}
.foundation img,
.insulation img{
    width:150px;
}
.foundation{
    width: 230px;
    display: flex;
    flex-direction:column;
}
